@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
}

.mana {
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.mana img {
	width: 300px;
	padding: 15px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

img.mobile {
	width: 150px;
}
